<html>
  <head>
    <title>Built with Kangaroojs!</title>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    {{> menu}}
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          {{{body}}}
        </div>
      </div>
    </div>
    {{> footer }}
    <script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>