<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <p class="text-center">
            Built with Kangaroojs, a <a href="https://www.github.com/jklepatch/kangaroojs" title="Kangaroojs, a simple MVC skeleton for nodejs express app">simple MVC skeleton for nodejs express apps</a>!
        </p>
      </div>
    </div>
  </div>
</footer>
